insmod part_gpt
insmod btrfs
search --no-floppy --fs-uuid --set=root 991affc2-75a8-4ee7-92e7-627e40273520
set default=0
set timeout=5

menuentry "Arch Linux 6.18 (MSM DRM)" {
    linux /boot/vmlinuz-linux-6.18 root=UUID=991affc2-75a8-4ee7-92e7-627e40273520 rootfstype=btrfs rw clk_ignore_unused pd_ignore_unused arm64.nopauth iommu.passthrough=0 iommu.strict=0 pcie_aspm.policy=powersupersave efi=noruntime fbcon=rotate:1 loglevel=7
    initrd /boot/initramfs-linux-6.18.img
    devicetree /boot/sc8280xp-huawei-gaokun3.dtb
}

menuentry "Arch Linux 6.14 (simpledrm, stable)" {
    linux /boot/vmlinuz-linux-gaokun3 root=UUID=991affc2-75a8-4ee7-92e7-627e40273520 rootfstype=btrfs rw clk_ignore_unused pd_ignore_unused arm64.nopauth iommu.passthrough=0 iommu.strict=0 pcie_aspm.policy=powersupersave efi=noruntime modprobe.blacklist=msm fbcon=rotate:1 loglevel=3
    initrd /boot/initramfs-linux-gaokun3.img
    devicetree /boot/sc8280xp-huawei-gaokun3.dtb
}
