[Unit]
Description=Activate Huawei keyboard cover touchpad
DefaultDependencies=no
Before=display-manager.service graphical.target
After=systemd-udevd.service
Wants=systemd-udevd.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /usr/local/bin/huawei-tp-activate.py
RemainAfterExit=yes
TimeoutStartSec=30

[Install]
WantedBy=sysinit.target
